#view-type{
  float: right;
  line-height: 0;
}
#view-type li{
  margin-right: 5px;
  display: inline-block;
}
#view-type li:last-child{
  margin-right: 0;
}
#view-type li .icon{
  width: 30px;
  height: 30px;
}
#view-type .icon-brick {background: url(../images/icons/view-type/icon-brick.png);}
#view-type .icon-grid {background: url(../images/icons/view-type/icon-grid.png);}
#view-type .icon-list {background: url(../images/icons/view-type/icon-list.png);}
#view-type .active .icon-brick {background: url(../images/icons/view-type/icon-brick-active.png);}
#view-type .active .icon-grid {background: url(../images/icons/view-type/icon-grid-active.png);}
#view-type .active .icon-list {background: url(../images/icons/view-type/icon-list-active.png);}

/* list view */
.list .product-item{
  overflow: hidden;
  border-top: 1px solid #f6f6f6;
  padding: 10px;
}
.list .thumb,
.list .info {
  float: left;
}
.list .thumb{
  width: 30%;
  padding-bottom: 30%;
}
.list .info{
  width: 70%;
  text-align: left;
  padding-left: 20px;
}
.list .info .price .ins{
  display: block;
}
@media(max-width: 479px) { /* show display icons */
  #view-type{display: block;}
  .main-content-home1 .main-slideshow,
  .main-content-home10 .main-slideshow,
  .main-content-home6 .main-slideshow{ /* slideshow margin bottom reduced */
    margin-bottom: 20px;
  }
}
@media(min-width: 479px) { /* hide display icons */
  .featured-products{
    text-align: center;
  }
  .supper-title{
    padding-top: 20px;
    margin-bottom: 20px;
  }
  #view-type{display: none;}
  .main-content-home1 .main-slideshow,
  .main-content-home10 .main-slideshow,
  .main-content-home6 .main-slideshow,
  .main-content-home9 .main-slideshow{ /* slideshow margin bottom reduced */
    /* margin-bottom: 0px; */
    margin-bottom: 20px!important;
  }
}
/* super title */
.supper-title{
  display: inline-block;
  margin: 0 0 3px 0;
  padding-top: 0;
  padding-bottom: 10px;
}
.supper-title::after{
  width: 100%;
  background: #ccbcbc;
}
.featured-products{ /* products' bottom margin */
  margin-bottom: 20px;
}
/* tpl13 */
#tpl13 .col-xs-12 .featured-products{
  text-align: center;
}
#tpl13 .col-xs-12 .custom-clear.featured-products{
  text-align: left;
}
@media(min-width: 479px) {
  #tpl13 .col-xs-12 .custom-clear.featured-products{
    text-align: center;
  }
}
/* reset */
.list .product-item{
  margin: 0;
}
.list .product-item .info{
  padding-top: 0;
  padding-bottom: 0;
}
.list .product-item .info .product-name{
  height: auto;
  overflow: auto;
}
.featured-products .supper-title{
  margin-top: 0;
}
.main-content-home10{ /* products's bottom */
  padding-bottom: 0;
}
.products-show{ /* supper-title's parent */
  text-align: center;
}
.post-item { /* tpl09 video bottom margin*/
  margin-bottom: 10px;
}

.product-grid{
  display: block;
  clear: both;
}
